<div class="ui grid">

    <!-- GENRAL SECTION -->
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui segment sixteen column">
                <div class="ui grid">
                    <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                        <h2 class="ui dividing header">اطلاعات اضافی</h2>
                    </div>
                    <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                        <div class="ui form">
                            <div class="field">
                                <label>توزیع کننده</label>
                                <div class="ui action input">
                                    <div class="ui fluid selection dropdown">
                                        <input type="hidden" name="gender">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">بدون توزیع کننده</div>
                                        <div class="menu menu-ajax-init" data-url="supplier">

                                        </div>
                                    </div>
                                    <button class="ui button">
                                        <i class="add icon"></i>
                                    </button>
                                    <div class="ui active dimmer inverted">
                                        <div class="ui small text loader">در حال بارگزاری</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                        <div class="ui form">
                            <div class="field">
                                <label>تعداد موجود در انبار برای سفارش مجدد</label>
                                <input type="text" placeholder="تعداد">
                            </div>
                        </div>
                    </div>
                    <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                        <div class="ui form">
                            <div class="field">
                                <label>تعداد موجود در انبار برای یادآوری سفارش</label>
                                <input type="text" placeholder="تعداد">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF GENRAL SECTION -->
 
</div>