<div class="single group template" style="display: none;">
    <div class="nine wide column">
        <div class="row" style="margin-top: 30px;">
            <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                <div class="ui form">
                    <div class="inline fields">
                        <div class="sixteen wide mobile ten wide tablet ten wide computer field">
                            <label>نام گروه</label>
                            <input type="text" placeholder="نام گروه">
                        </div>
                        <div class="sixteen wide mobile six wide tablet six wide computer field">
                            <button class="tiny ui labeled red icon button remove-single-group">
                                <i class="delete icon"></i>
                                حذف
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sixteen wide mobile sixteen wide tablet nine wide computer column">
                <div id="" class="ui internally celled grid optionContainer">
                    <div class="row">
                        <div class="six wide column">
                            <h4>نام انتخاب</h4>
                        </div>
                        <div class="six wide column">
                            <h4>مبلغ اضافه</h4>
                        </div>
                        <div class="two wide column">
                            <h4>پایه؟</h4>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="six wide column">
                            <div class="ui fluid input">
                                <input type="text" placeholder="نام انتخاب">
                            </div>
                        </div>
                        <div class="six wide column">
                            <div class="ui fluid input">
                                <input type="text" placeholder="مبلغ">
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui checkbox" style="margin-top: 10px;">
                                <input type="checkbox" checked="checked" tabindex="0" class="hidden">
                            </div>
                            <a href="#" class="remove">
                                <i class="large trash red icon" style="vertical-align: baseline;"></i>
                            </a>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="sixteen wide mobile sixteen wide tablet nine wide computer column">
                <button class="ui mini primary button btnAddOptionSingleChoice">
                    اضافه کردن انتخاب
                </button>
            </div>

        </div>
    </div>
</div>

<div id="single-option-template" style="display: none; margin-top: 20px;">
    <div class="row">
        <div class="six wide column">
            <div class="ui fluid input">
                <input type="text" placeholder="نام انتخاب">
            </div>
        </div>
        <div class="six wide column">
            <div class="ui fluid input">
                <input type="text" placeholder="مبلغ">
            </div>
        </div>
        <div class="four wide column">
            <div class="ui radio checkbox">
                <input type="radio" name="isBase" checked="checked">
            </div>
            <a href="#" class="remove">
                <i class="large trash red icon" style="vertical-align: baseline;"></i>
            </a>
        </div>
    </div>
</div>