

<div id="quickAddDepartment" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        اضافه کردن دپارتمان
    </div>
    <div class="content">
        <div class="description">
            <div class="ui fluid input">
                <input id="departmentName" type="text" placeholder="نام دپارتمان" />
            </div>
        </div>
    </div>
    <div class="right actions">
        <div class="ui positive right labeled icon button">
            ذخیره
            <i class="checkmark icon"></i>
        </div>
        <div class="ui black deny button">
            بستن
        </div>
    </div>
</div>


<div id="quickAddCategory" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        اضافه کردن دسته بندی
    </div>
    <div class="content">
        <div class="description">
            <div class="ui fluid input">
                <input id="categoryName" type="text" placeholder="نام دسته بندی"/>
            </div>
        </div>
    </div>
    <div class="right actions">
        <div class="ui positive right labeled icon button">
            ذخیره
            <i class="checkmark icon"></i>
        </div>
        <div class="ui black deny button">
            بستن
        </div>
    </div>
</div>

<div id="quickAddTag" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        اضافه کردن دسته بندی
    </div>
    <div class="content">
        <div class="description">
            <div class="ui fluid input">
                <input id="tagName" type="text" placeholder="نام تگ"/>
            </div>
        </div>
    </div>
    <div class="right actions">
        <div class="ui positive right labeled icon button">
            ذخیره
            <i class="checkmark icon"></i>
        </div>
        <div class="ui black deny button">
            بستن
        </div>
    </div>
</div>

<div id="quickAddTaxType" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        اضافه کردن نوع مالیات
    </div>
    <div class="content">
        <div class="description">
            <div class="ui fluid input">
                <input id="taxTypeName" type="text" placeholder="نام"/>
            </div>
            <br />
            <div class="ui fluid input">
                <input id="taxTypePercentage" type="number" placeholder="درصد" />
            </div>
        </div>
    </div>
    <div class="right actions">
        <div class="ui positive right labeled icon button">
            ذخیره
            <i class="checkmark icon"></i>
        </div>
        <div class="ui black deny button">
            بستن
        </div>
    </div>
</div>

<div id="quickAddMultiple" class="ui modal">
    <div class="header">Header</div>
    <div class="content">
        <div class="ui input">
            <input id="quickAddMultipleValue" type="text" placeholder=""/>
        </div>
        <div class="ui input">
            <input id="quickAddMultipleText" type="text" placeholder="" />
        </div>
    </div>
</div>